.select-container{
    margin-right:74px;
}

.select{
    background:#fff;
    height:32px;
    width:245px;
    box-shadow:0px 1px 2px black;
    display:flex;
    flex-direction:row;
    border-radius: 30px;

}
option{
    text-align: center;
    font-size:20px;
    font-family: 'Franklin Gothic Medium';
}