
*{
  margin:0px;
  padding:0px;
}

.bg-container{
  background:#1e293b;
  height:100%;
  width:100%;
}

.search-select-container{
  display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
    margin:60px;
}
.pages-container{
  display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
    margin:60px;
}